html {
  box-sizing: border-box;
  font-size: 100%;
  @include media_query($small-mobile-breakpoint) {
  	font-size: 80%;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper {
  position: relative;
  @include media_query($small-mobile-breakpoint) {
    padding: 0;
  }
  margin: 0 auto;
  padding: 0 3rem;
}
.particles-wrapper {
  @include media_query($small-mobile-breakpoint) {
    display: none;
  }
}