.header {
  @include media_query($tablet-breakpoint){
    padding-left: 40px;
    padding-right: 40px;
  }
  @include media_query($mobile-breakpoint){
    padding-left: 20px;
    padding-right: 20px;
    animation: none;
  }
  animation: headerSlideDown 0.7s 0.5s;
  animation-fill-mode: both;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  //border-top: 4px solid #{$primary-color};
  border-bottom: 4px solid #{$primary-color};
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $off-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  will-change: transform;
  .nav {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	.nav-list {
  	  margin: 0;
      padding: 0;
      list-style: none;
  	  li {
  	  	display: inline-block;
        margin: 0;
        margin-right: 30px;
  	  	a {
          transition: color 0.4s;
          display: inline-block;
          line-height: 13px;
          text-decoration: none;
          text-transform: uppercase;
          text-shadow: none;
          background-image: none;
          color: $primary-accent;
          letter-spacing: 1px;
          &:hover{
            color: $primary-color !important;
          }
          &.active{
            color: $primary-color;
          }
  	  	}
        &:first-of-type .active {
          color: $primary-accent;
        }
        &:last-of-type{
          margin-right: 0;
        }
  	  }
  	}
  }
}