.header {
  @include media_query($tablet-breakpoint){
    padding-right: 40px;
  }
  @include media_query($mobile-breakpoint){
    padding-right: 0;
    animation: none;
  }
  animation: headerSlideDown 0.7s 0.5s;
  animation-fill-mode: both;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-right: 20px;
  border-bottom: 4px solid #{$primary-color};
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $off-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  will-change: transform;
  .nav {
    @extend %noselect;
  	.nav-list {
  	  margin: 0;
      padding: 0;
      list-style: none;
      margin-right: 0;
  	  li {
  	  	display: inline-block;
        margin: 0;
        margin-right: 30px;
  	  	a {
          transition: color 0.4s;
          display: inline-block;
          line-height: 13px;
          text-decoration: none;
          text-transform: uppercase;
          text-shadow: none;
          background-image: none;
          color: $primary-accent;
          letter-spacing: 1px;
          &:hover{
            color: $primary-color !important;
          }
          &.active{
            color: $primary-color;
          }
  	  	}
        &:first-of-type .active {
          color: $primary-accent;
        }
        &:last-of-type{
          @include media_query($mobile-breakpoint) {
            display: none;
          }
          margin-right: 0;
          border-bottom: 1px solid $primary-color;
        }
        &:nth-child(2) {
          @include media_query($small-mobile-breakpoint) {
            margin-right: 10px;
          }
        }
  	  }
  	}
  }
}