.macbook-wrapper {
  .macbook {
    @extend %noselect;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    .macbook-content {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      cursor: pointer;
      width: 75%;
      max-height: 81%;
      overflow: hidden;
      position: absolute;
      top: 5%;
      left: 12.5%;
    }
  }
}