// colors
$primary-color: #639;
$primary-accent: #999;
$white: #FFF;
$off-white: #FEFEFE;
$off-black: #111;
$light-gray: #ECECEC;
$card-border-color: #e1e4e6;

// fonts
$bodyfont-size: 16px;

// breakpoints
$tablet-breakpoint: 1199px;
$mobile-breakpoint: 767px;
$small-mobile-breakpoint: 450px;
